{% extends "layout.html" %}

{% block title %}
  Dish
{% endblock %}

{% block main %}
  <h1>
    Dish Editing
  </h1>
  <form action="{{ url_for('dish') }}" method="POST">
    <fieldset>
      <div class="form-group">
        Dish Name:
        <input class="form-control" type="text" name="name" value="{{dish.name}}" required/>
      </div>
      <div class="form-group">
        Base Price:
        <input class="form-control" type="number" name="price" step=".01" value="{{dish.price}}" required/>
      </div>
      <div class="form-group">
        Dish Description:
        <textarea class="opinion_text" name="description">{{dish.description}}</textarea>
      </div>
      <div class="form-group">
        <button name="source" value="save_button" class="btn btn-default" type="submit">Save</button>
        <!-- <button name="source" value="delete_button" class="btn btn-default" type="submit">Delete</button> -->
      </div>
    </fieldset>
    <input type="hidden" name="old_name" value="{{dish.name}}"/>
  </form>
{% endblock %}
