{% extends "layout.html" %}

{% block title %}
  Client Details
{% endblock %}

{% block main %}
  <h1>
    Details for
    {{ clientData["name"] }}
  </h1>
  <form action="{{ url_for('client') }}" method="POST">
    <fieldset>
      <div class="form-group">
        <input class="form-control" type="hidden" name=oldName value="{{clientData["name"]}}"><br>
        Name: <input class="form-control" type="text" name=name value="{{clientData["name"]}}"><br>
      </div>
      {% for attribute in clientData %}
        {% if attribute not in ['id', 'clientType', 'hash', 'name'] %}
          {%if cssClass[attribute] == "defaultText" %}
            <div class="form-group">
              {{attribute|formatKey}}:
              <input class="form-control" type="text" name={{attribute}} value="{{clientData[attribute]|formatValue}}"><br>
            </div>
          {% elif cssClass[attribute] == "opinionText" %}
            <div class="form-group">
              {{attribute|formatKey}}:
              <textarea class="opinionText" name={{attribute}}>{{clientData[attribute]|formatValue}}</textarea><br>
            </div>
          {% elif cssClass[attribute] == "noteText" %}
            <div class="form-group">
              {{attribute|formatKey}}:
              <textarea class="noteText" name={{attribute}}>{{clientData[attribute]}}</textarea><br>
            </div>
          {% elif cssClass[attribute] == "boolean" %}
            <div class="form-group">
              {{attribute|formatKey}}:
              <input type="radio" name={{attribute}} id="True" value="1" {% if clientData[attribute] %} checked="checked" {% endif %}>
              <label for="True">Yes</label>
              <input type="radio" name={{attribute}} id="False" value="0" {% if not clientData[attribute] %} checked="checked" {% endif %}>
              <label for="False">No</label>
              <br>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="form-group">
        <button name="source" value="editClient" class="btn btn-default" type="submit">Save</button>
        <button name="source" value="deleteButton" class="btn btn-default" type="submit">Delete</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
