{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
  <!--replace with whatever we want-->
  <table>
    <td class="image_table">
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/26232342_843704675754092_8044119169090811007_o.jpg?oh=9c00229dc237d1663451baa8c0e062d8&oe=5B148687" class="one"></img>
    </td>
    <td class="image_table">
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/22713457_797119117079315_7205426387332633574_o.jpg?oh=30e5c6e60989f1f03c2ca204674c0ada&oe=5B171BD1" class="two"></img>
    </td>
  </table>
{% endblock %}
