{% extends "layout.html" %}

{% block title %}
  New Order
{% endblock %}

{% block main %}
  <script>
  $(function(ready) {
    $("#target").on("click", function() {
      alert($("#name").val());
    });
  });
  </script>
  <form action="{{ url_for('order') }}" method="POST" autocomplete="false" class="navbar-form navbar-left">
    <div class="form-group">
      <input class="form-control" list="client_names" name="name" placeholder="Client Name" id="name">
      <datalist name="client_names" id="client_names">
        {% if client_name_list %}
          {% for client in client_name_list %}
            <option value="{{client.name}}">
          {% endfor %}
        {% endif %}
      </datalist>
      <button class="btn btn-default" type="submit" id="target">Continue</button>
    </div>
  </form>
{% endblock %}
