{% extends "layout.html" %}

{% block title %}
  Add a Client
{% endblock %}

{% block main %}
  <form action="{{ url_for('client') }}" method="POST">
    <fieldset>
      {% for attribute in attributes %}
        {% if attribute == "name" %}
          <div class="form-group">
              Name:
              <input class="form-control" type="text" name="name" required><br>
          </div>
        {% elif attribute in ["phone", "contact_phone"] %}
          <div class="form-group">
              {{ attribute|format_key }}:
              <input class="form-control" type="text" name="{{ attribute }}" pattern="[(]*[0-9]{3}[)]*[ -]*[0-9]{3}[ -]*[0-9]{4}[ ]*"><br>
          </div>
        {% elif css_class[attribute] == "default_text" %}
          <div class="form-group">
            {{attribute|format_key}}:
            <input class="form-control" type="text" name="{{attribute}}"><br>
          </div>
        {% elif css_class[attribute] == "opinion_text" %}
          <div class="form-group">
            {{attribute|format_key}}:
            <textarea class="opinion_text" name="{{attribute}}"></textarea><br>
          </div>
        {% elif css_class[attribute] == "note_text" %}
          <div class="form-group">
            {{attribute|format_key}}:
            <textarea class="note_text" name="{{attribute}}"></textarea><br>
          </div>
        {% elif css_class[attribute] == "boolean" %}
          <div class="form-group">
            {{attribute|format_key}}:
            <input type="radio" name="{{attribute}}" id="True" value="1">
            <label for="True">Yes</label>
            <input type="radio" name="{{attribute}}" id="False" value="0">
            <label for="False">No</label>
            <br>
          </div>
        {% endif %}
      {% endfor %}
      <div class="form-group">
        <button name="source" value="new_client" class="btn btn-default" type="submit">Create</button>
      </div>
      <input type="hidden" name="client_type" value="{{client_type}}">
    </fieldset>
  </form>
{% endblock %}
