{% extends "layout.html" %}

{% block title %}
  Add a Client
{% endblock %}

{% block main %}
  <form action="{{ url_for('client') }}" method="POST">
    <fieldset>
      {% for attribute in attributes %}
        {%if cssClass[attribute] == "defaultText" %}
          <div class="form-group">
            {{attribute|formatKey}}: <input class="form-control" type="text" name={{attribute}}><br>
          </div>
        {% elif cssClass[attribute] == "opinionText" %}
          <div class="form-group">
            {{attribute|formatKey}}: <textarea class="opinionText" name={{attribute}}></textarea><br>
          </div>
        {% elif cssClass[attribute] == "noteText" %}
          <div class="form-group">
            {{attribute|formatKey}}: <textarea class="noteText" name={{attribute}}></textarea><br>
          </div>
        {% elif cssClass[attribute] == "boolean" %}
          <div class="form-group">
            {{attribute|formatKey}}:
            <input type="radio" name={{attribute}} id="True" value="True">
            <label for="True">True</label>
            <input type="radio" name={{attribute}} id="False" value="False">
            <label for="False">False</label>
            <br>
          </div>
        {% endif %}
      {% endfor %}
      <div class="form-group">
        <button name="source" value="newClient" class="btn btn-default" type="submit">Create</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
