{% extends "layout.html" %}

{% block title %}
  Add a Client
{% endblock %}

{% block main %}
  <form action="{{ url_for('client') }}" method="POST">
    <fieldset>
      {% for attribute in attributes %}
        {%if cssClass[attribute] == "defaultText" %}
          <div class="form-group">
            <input class="form-control" type="text" name={{attribute}} placeholder="{{attribute|formatKey}}"><br>
          </div>
        {% elif cssClass[attribute] == "opinionText" %}
          <div class="form-group">
            <textarea class="opinionText" name={{attribute}} placeholder="{{attribute|formatKey}}"></textarea><br>
          </div>
        {% elif cssClass[attribute] == "noteText" %}
          <div class="form-group">
            <textarea class="noteText" name={{attribute}} placeholder="{{attribute|formatKey}}"></textarea><br>
          </div>
        {% endif %}
      {% endfor %}
      <div class="form-group">
        <button name="source" value="newClient" class="btn btn-default" type="submit">Create</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
