{% extends "layout.html" %}

{% block title %}
  Order Details
{% endblock %}

{% block main %}
  <h1>
    {{order['description']}}
  </h1>
  <table>
     <thread>
       <tr>
          <th scope="col">Quantity</th>
          <th scope="col">Dish</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thread>
    <tbody>
      {% for item in order['items'] %}
      <tr>
        <td>{{item['count']}}</td>
        <td>{{item['name']}}</td>
        <td>{{item['unit_price']}}</td>
        <td>{{item['price']}}</td>
        <form action="{{url_for('order', order_id=id)}}" method="POST">
          <td><button class="btn btn-default" name="delete" value="{{item['id']}}" type="submit">Delete</button></td>
        </form>
      </tr>
      {% endfor %}
      <tr>
        <form action="{{url_for('order', order_id=id)}}" method="POST">
          <td><input class="form-control" type="number" min="1" name="quantity" value="1" required="required"></td>
          <td>
            <input class="form-control" list="dishes" name="name" placeholder="Dish Name" autofocus="True">
            <datalist name="dishes" id="dishes">
              {% if dishes %}
              {% for dish in dishes %}
                <option value="{{dish.name|title}}">
              {% endfor %}
              {% endif %}
            </datalist>
          </td>
          <td><input class="form-control" type="number" step=".01" min="0" name="price" placeholder="Override stored price"></td>
          <td><button class="btn btn-default" type="submit">Add Item(s)</button></td>
          <td></td>
        </form>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Subtotal</td>
        <td>{{order['subtotal']|usd}}</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Tax</td>
        <td>{{order['tax']|usd}}</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <th scope="row">Total</th>
        <td>{{order['total']|usd}}</td>
        <td></td>
      </tr>
      <tr>
        <form action="{{url_for('order', order_id=id)}}" method="POST">
          <td></td>
          <td></td>
          <td>Amount Paid</td>
          <td><input class="form-control" type="number" step=".01" min="0" max="{{order['total']}}" name="paid"  value="{{order['paid']}}" placeholder="Amount Paid" required="required"></td>
          <td><button class="btn btn-default" type="submit">Update</button></td>
        </form>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <th scope="row">Owed</th>
        <td>{{order['owed']|usd}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
