  <h1>
    {{ clientData["name"] }}
  </h1>

  <p class="saladServiceCard">
    Phone: {{clientData["phone"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
    Address: {{clientData["address"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
    Delivery: {{clientData["delivery"]|formatBool}}
  </p>

  <p class="saladServiceCard">
    Weekly money: {{clientData["weeklyMoney"]|usd}}
  </p>

  <p class="saladServiceCard">
    # of Monday Salads: {{clientData["mondaySalads"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
      # of Thursday Salads: {{clientData["thursdaySalads"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
      Salad dressings: {{clientData["saladDressings"]|formatBool}}
  </p>

  <p class="saladServiceCard">
    # of Monday Hotplates: {{clientData["mondayHotplates"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
    # of Tuesday Hotplates: {{clientData["tuesdayHotplates"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
    # of Thursday Hotplates: {{clientData["thursdayHotplates"]|viewFormatValue}}
  </p>

  <br>
  <br>


  <h3 id="allergies">
      Allergies: {{clientData["allergies"]|viewFormatValue}}
  </h3>

  <p class="saladServiceCard">
      Protein: {{clientData["protein"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
    Dietary preferences: {{clientData["dietaryPreferences"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
    Dislikes: {{clientData["saladDislikes"]|viewFormatValue}}
  </p>

  <p class="saladServiceCard">
    Loves: {{clientData["saladLoves"]|viewFormatValue}}
  </p>

  <br>
  <br>

  <p class="saladServiceCard">
    General notes: {{clientData["generalNotes"]|viewFormatValue}}
  </p>
  <p>
    Salad notes: {{clientData["saladNotes"]|viewFormatValue}}
  </p>
  <p>
    Hotplate notes: {{clientData["hotplateNotes"]|viewFormatValue}}
  </p>
