<h1>
  {{client_data["name"]}}
</h1>

<p class="salad_service_card">
  Phone:
  {{client_data["phone"]}}
</p>

<p class="salad_service_card">
  Address:
  {{client_data["address"]}}
</p>

<p class="salad_service_card">
  Delivery:
  {{client_data["delivery"]|format_bool}}
</p>

<p class="salad_service_card">
  Weekly money:
  {{client_data["weekly_money"]|usd}}
</p>

<p class="salad_service_card">
  # of Monday Salads:
  {{client_data["monday_salads"]}}
</p>

<p class="salad_service_card">
  # of Thursday Salads:
  {{client_data["thursday_salads"]}}
</p>

<p class="salad_service_card">
  Salad dressings:
  {{client_data["salad_dressings"]|format_bool}}
</p>

<p class="salad_service_card">
  # of Monday Hotplates:
  {{client_data["monday_hotplates"]}}
</p>

<p class="salad_service_card">
  # of Tuesday Hotplates:
  {{client_data["tuesday_hotplates"]}}
</p>

<p class="salad_service_card">
  # of Thursday Hotplates:
  {{client_data["thursday_hotplates"]}}
</p>

<br>
<br>

<h3 id="allergies">
  Allergies:
  {{client_data["allergies"]}}
</h3>

<p class="salad_service_card">
  Protein:
  {{client_data["protein"]}}
</p>

<p class="salad_service_card">
  Dietary preferences:
  {{client_data["dietary_preferences"]}}
</p>

<p class="salad_service_card">
  Dislikes:
  {{client_data["salad_dislikes"]}}
</p>

<p class="salad_service_card">
  Loves:
  {{client_data["salad_loves"]}}
</p>

<br>
<br>

<p class="salad_service_card">
  General notes:
  {{client_data["general_notes"]}}
</p>
<p>
  Salad notes:
  {{client_data["salad_notes"]}}
</p>
<p>
  Hotplate notes:
  {{client_data["hotplate_notes"]}}
</p>
