{% extends "layout.html" %}

{% block title %}
    Client Details
{% endblock %}

{% block main %}
  <h1>
    {{ clientData["name"]|title }}
  </h1>
  {{% for attribute in attributes %}}
      <h3 class="saladServiceCard">    
      {{attribute|formatKey}}: {{clientData[attribute]|viewFormatValue}}
      </h3>
      <br>
      <br>
  {{% endfor %}}
  <form action="{{ url_for('client') }}" method="POST">
    <div class="form-group">
      <button name="name" value="{{clientData["name"]}}" class="btn btn-default" type="submit">Edit</button>
    </div>
  </form>
  <form action="{{ url_for('index') }}" method="GET">
    <fieldset>
      <div class="form-group">
        <button class="btn btn-default" type="submit">Back to home page</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
