{% extends "layout.html" %}

{% block title %}
  Orders
{% endblock %}

{% block main %}
  <form class="form-inline" action="{{url_for('view_orders')}}" method="POST">
    <div class="form-group overflow">
      <div class="input-group side_by_side">
        <div class="input-group-addon">Filter by</div>
        <div class="input-group">
          <select class="form-control" name="filter_cat">
            <option selected="selected" value="client">Client</option>
            <option value="dish">Dish</option>
          </select>
        </div>
      </div>
      <div class="input-group side_by_side">
        <div class="input-group-addon">Query:</div>
        <div class="input-group">
          {% if query %}
          <input type="text" list="client_names" name="filter_query" class="form-control" value="{{query}}" placeholder="Client Name">
          {% else %}
          <input type="text" list="client_names" name="filter_query" class="form-control" placeholder="Client Name">
          {% endif %}
          <datalist name="client_names" id="client_names">
            {% if client_name_list %}
              {% for client in client_name_list %}
                <option value="{{client.name}}">
              {% endfor %}
            {% endif %}
          </datalist>
        </div>
      </div>
      <div class="input-group side_by_side">
        <div class="input-group-addon">From</div>
        <div class="input-group">
          <select class="form-control" name="time">
            <option value="past_day">Today</option>
            <option value="past_week">Past Week</option>
            <option value="past_month">Past Month</option>
            <option selected="selected" value="all_time">All Time</option>
          </select>
        </div>
      </div>
      <div class="input-group side_by_side">
        <button class="btn btn-default">Filter</button>
      </div>
    </div>
  </form>
  <table>
    <thread>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Client</th>
        <th scope="col">Total</th>
        <th scope="col">Owed</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thread>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{order['date']}}</td>
          <td>{{order['name']}}</td>
          <td>{{order['total']|usd}}</td>
          <td>{{order['owed']|usd}}</td>
          <form action="{{url_for('order', order_id=order['id'])}}">
            <td>
              <button class="btn btn-default btn-sm" type="submit">View</button>
            </td>
          </form>
          <form action="{{url_for('delete_order', order_id=order['id'])}}">
            <td>
              <button class="btn btn-default btn-sm" type="submit">Delete</button>
            </td>
          </form>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
