{% extends "layout.html" %}

{% block title %}
  Client Details
{% endblock %}

{% block main %}
  <h1>Client Details:
    {{client_data["name"]}}
  </h1>
  <p>
    {% for attribute in client_data %}
      {% if client_data[attribute] and attribute not in ['id', 'client_id', 'name'] %}
        {% if CSS_CLASS[attribute] == "boolean" %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]|format_bool}}<br><br>
        {% elif CSS_CLASS[attribute] == "money" %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]|usd}}
          <br><br>
        {% elif CSS_CLASS[attribute] == "note_text" %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]}}
          <br><br>
        {% elif CSS_CLASS[attribute] == "phone" %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]|format_phone}}
          <br><br>
        {% else %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]}}<br><br>
        {% endif %}
      {% endif %}
    {% endfor %}
  </p>
  <form action="{{url_for('client', dest='edit')}}" method="POST">
    <div class="form-group">
      <button class="btn btn-default" type="submit">Edit</button>
    </div>
    <input type="hidden" name="name" value="{{client_data['name']}}">
  </form>
  {% if client_data['client_type'] == 2 %}
    <form action="{{url_for('salad_service_card')}}" method="POST">
      <div class="form-group">
        <button name="name" value="{{client_data['name']}}" class="btn btn-default" type="submit"> View salad service card </button>
      </div>
    </form>
  {% endif %}
{% endblock %}
