{% extends "layout.html" %}

{% block title %}
    Client Details
{% endblock %}

{% block main %}
  <h1>
    {{ message }}: {{ clientData["name"]|title }}
  </h1>
  <p>
    {% for attribute in clientData %}
    {% if clientData[attribute] != None and clientData[attribute] != '' and attribute != 'id' and attribute != 'clientType' and attribute != 'name' %}
      {{attribute|formatKey}}: {{clientData[attribute]|viewFormatValue}} <br>
    {% endif %}
    {% endfor %}
  </p>
  <form action="{{ url_for('client') }}" method="POST">
    <div class="form-group">
      <button name="name" value="{{clientData["name"]}}" class="btn btn-default" type="submit">Edit</button>
    </div>
  </form>
  <form action="{{ url_for('index') }}" method="GET">
    <fieldset>
      <div class="form-group">
        <button class="btn btn-default" type="submit">Back to home page</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
