{% extends "layout.html" %}

{% block title %}
  Client Details
{% endblock %}

{% block main %}
  <h1>{{ message }}:
    {{ client_data["name"] }}</h1>
  <p>
    {% for attribute in client_data %}
      {% if client_data[attribute] and attribute not in ['id', 'client_type', 'name'] %}
        {% if css_class[attribute] == "boolean" %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]|format_bool}}<br><br>
        {% elif css_class[attribute] == "money" %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]|usd}}
          <br><br>
        {% elif css_class[attribute] == "note_text" %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]}}
          <br><br>
        {% else %}
          <b>{{attribute|format_key}}:</b>
          {{client_data[attribute]|view_format_value}}<br><br>
        {% endif %}
      {% endif %}
    {% endfor %}
  </p>
  <form action="{{ url_for('client') }}" method="POST">
    <div class="form-group">
      <button name="source" value="edit_button" class="btn btn-default" type="submit">Edit</button>
    </div>
    <input type="hidden" name="name" value="{{client_data['name']}}">
  </form>

{% endblock %}
