{% extends "layout.html" %}

{% block title %}
  Orders
{% endblock %}

{% block main %}
<form class="form-inline" action="{{url_for('viewOrders')}}" method="POST">
  <div class="form-group overflow">
    <div class="input-group sideBySide">
      <div class="input-group-addon">Filter by</div>
      <div class="input-group">
        <select class="form-control" name="filterBy">
          <option selected value="client">Client</option>
          <option value="dish">Dish</option>
        </select>
      </div>
    </div>
    <div class="input-group sideBySide">
      <div class="input-group-addon">Query:</div>
      <div class="input-group">
        <input type="text" name="filterQuery" class="form-control">
      </div>
    </div>
    <div class="input-group sideBySide">
      <div class="input-group-addon">From</div>
      <select class="form-control" name="time">
        <option selected value="pastDay">Today</option>
        <option value="pastWeek">Past Week</option>
        <option value="pastMonth">Past Month</option>
        <option value="allTime">All Time</option>
      </select>
    </div>
    <div class="input-group sideBySide">
      <button class="btn btn-default">Filter</button>
    </div>
  </div>
</form>
<table class="table" id="orderTable">
  <thread>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Client</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thread>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{order[0]}}</td>
      <td>{{order[1]}}</td>
      <td>{{order[2]}}</td>
      <form action="{{url_for('order')}}{{order[3]}}">
        <td><button class="btn btn-default btn-sm" type="submit">View</button></td>
      </form>
      <form action="{{url_for('order')}}{{order[3]}}/delete">
        <td><button class="btn btn-default btn-sm" type="submit">Delete</button></td>
      </form>
    <tr>
    {% endfor %}
    </tbody>
  </table>

  {% endblock %}
