{% extends "layout.html" %}

{% block title %}
  Orders
{% endblock %}

{% block main %}
  <script>
    $(function(ready) {
      var url = new URL(window.location.href);
      var filter = url.searchParams.get("filter");
      var query = url.searchParams.get("query");
      var time = url.searchParams.get("time");
      var payment = url.searchParams.get("payment");

      $("#filter option[value='"+filter+"']").attr("selected", "selected");
      $("#query").attr("value", query);
      $("#time option[value='"+time+"']").attr("selected", "selected");


      var updateFilterForm = function() {
        var key = $("#filter").val();
        var vals = [];

        switch(key) {
          case 'client':
            vals = {{CLIENT_NAMES|safe}};
            break;
          case 'dish':
            vals = {{DISH_NAMES|safe}};
            break;
        }

        var $filterQueryList = $("#query_list");
        $filterQueryList.empty();
        $.each(vals, function(index, value) {
          $filterQueryList.append("<option value=\"" + value + "\">");
        });

        if (key == "dish") {
          $("#payment_div").css("display", "none");
          $("#payment option[value=\"all\"]").attr("selected", "selected");
        }
        else {
          $("#payment_div").css("display", "");
          $("#payment option[value='"+payment+"']").attr("selected", "selected");
        }
      }
      $(document).ready(updateFilterForm);
      $("#filter").change(updateFilterForm);
    });
  </script>
  <form class="form-inline" action="{{url_for('view_orders')}}" method="POST">
    <div class="form-group overflow">
      <div class="input-group side_by_side">
        <div class="input-group-addon">Filter by</div>
        <div class="input-group">
          <select class="form-control" name="filter" id="filter">
            <option value="client">Client</option>
            <option value="dish">Dish</option>
          </select>
        </div>
      </div>
      <div class="input-group side_by_side">
        <div class="input-group-addon">Query:</div>
        <div class="input-group">
          <input id="query" type="text" list="query_list" name="query" class="form-control" placeholder="Query">
          <datalist name="dropdown_data" id="query_list">
          </datalist>
        </div>
      </div>
      <div class="input-group side_by_side" id="payment_div">
        <div class="input-group-addon">Payment</div>
        <div class="input-group">
          <select class="form-control" name="payment" id="payment">
            <option value="all">All</option>
            <option value="unpaid">Unpaid</option>
            <option value="full">Fully Paid</option>
          </select>
        </div>
      </div>
      <div class="input-group side_by_side">
        <div class="input-group-addon">From</div>
        <div class="input-group">
          <select class="form-control" name="time" id="time">
            <option value="past_day">Today</option>
            <option value="past_week">Past Week</option>
            <option value="past_month">Past Month</option>
            <option value="all_time">All Time</option>
          </select>
        </div>
      </div>
      <div class="input-group side_by_side">
        <button class="btn btn-default">Filter</button>
      </div>
    </div>
  </form>
  {% if filter == "client" %}
  <table>
    <thread>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Client</th>
        <th scope="col">Total</th>
        <th scope="col">Owed</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thread>
    <tbody>
      {% for order in filter_results %}
        <tr>
          <td>{{order.date|format_datetime}}</td>
          <td>{{order.client.name}}</td>
          <td>{{order.total|usd}}</td>
          <td>{{order.owed|usd}}</td>
          <form action="{{url_for('order', order_id=order.id)}}">
            <td>
              <button class="btn btn-default btn-sm" type="submit">View</button>
            </td>
          </form>
          <form action="{{url_for('delete_order', order_id=order.id)}}">
            <td>
              <button class="btn btn-default btn-sm" type="submit">Delete</button>
            </td>
          </form>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% elif filter == "dish" %}
  <table>
    <thread>
      <tr>
         <th scope="col">Date</th>
         <th scope="col">Name</th>
         <th scope="col">Quantity</th>
       </tr>
     </thread>
   <tbody>
     {% for item in filter_results['items'] %}
     <tr>
       <td>{{item.order.date|format_datetime}}</td>
       <td>{{item.order.client.name}}</td>
       <td>{{item.count}}</td>
     </tr>
     {% endfor %}
     {% if query %}
     <tr>
       <td></td>
       <th scope="row">Total</th>
       <th scope="row">{{filter_results['total']}}</th>
     </tr>
     {% endif %}
   </tbody>
  </table>
  {% endif %}

{% endblock %}
