{% extends "layout.html" %}

{% block title %}
    Client Details
{% endblock %}

{% block main %}
  <h1>{{ message }}: {{ clientData["name"] }}</h1>
  <p>
    {% for attribute in clientData %}
    {% if clientData[attribute] not in [None, ''] and attribute not in ['id', 'clientType', 'name'] %}
      {% if attribute in ['saladDressings', 'delivery'] %}
        <b>{{attribute|formatKey}}:</b> {{clientData[attribute]|formatBool}}<br><br>
      {% elif attribute in ['weeklyMoney'] %}
        <b>{{attribute|formatKey}}:</b> {{clientData[attribute]|usd}} <br><br>
      {% else %}
        <b>{{attribute|formatKey}}:</b> {{clientData[attribute]|viewFormatValue}}<br><br>
      {% endif %}
    {% endif %}
    {% endfor %}
  </p>
  <form action="{{ url_for('client') }}" method="POST">
    <div class="form-group">
      <button name="name" value="{{clientData["name"]}}" class="btn btn-default" type="submit">Edit</button>
    </div>
  </form>

{% endblock %}
