{% extends "layout.html" %}

{% block title %}
  Recipe Details
{% endblock %}

{% block main %}
  <h1>
    Recipe Details:
    {{ recipe.name }}
  </h1>
  <p>
    Description:
    {{ recipe.description|capitalize }}<br/>
    Base Price:
    {{ recipe.price|usd }}<br/>
  </p>
  <form action="{{ url_for('recipe') }}" method="POST">
    <div class="form-group">
      <button name="source" value="edit_button" class="btn btn-default" type="submit">Edit</button>
    </div>
    <input type="hidden" name="name" value="{{recipe.name}}">
  </form>
{% endblock %}
