{% extends "layout.html" %}

{% block title %}
    Client Details
{% endblock %}

{% block main %}
  <h1>
    {{ message }}: {{ clientData["name"]|title }}
  </h1>
  <p>
    {% for attribute in clientData %}
    {% if clientData[attribute] not in [None, ''] and attribute not in ['id', 'clientType', 'name'] %}
      {% if attribute in ['saladDressings', 'delivery'] %}
        {{attribute|formatKey}}: {{clientData[attribute]|formatBool}} <br>
      {% else %}
        {{attribute|formatKey}}: {{clientData[attribute]|viewFormatValue}} <br>
      {% endif %}
    {% endif %}
    {% endfor %}
  </p>
  <form action="{{ url_for('client') }}" method="POST">
    <div class="form-group">
      <button name="name" value="{{clientData["name"]}}" class="btn btn-default" type="submit">Edit</button>
    </div>
  </form>
{% endblock %}
